.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/**
node_modules/**
.eslintrc.json
.nyc_output/**
coverage/**
.github/**
**/*.test.ts
**/*.test.js
test/**
**/*.spec.ts
**/*.spec.js
**/jest.config.js
**/*.md
!README.md
**/*.log
**/*.lock
.DS_Store
.env*
.npmignore
.travis.yml
.circleci/**
.azure-pipelines.yml
*.vsix
package-lock.json
yarn.lock
pnpm-lock.yaml